    {% extends "blog/home.html" %}
    {% block content %}
    {% load static %}
    {% load widget_tweaks %}
<body>
    {% if users.is_authenticated %}
        <p>Your already loged in</p>

    {% else %}

    <div class=" flex items-center justify-center h-screen">
        <div class="flex flex-col text-center gap-2 md:flex-1">
            <span class="font-bold text-2xl text-emerald-700">CodESec Login</span>
            <span class="text-md p-2">please login to CodESec tool use our services</span>
            <form class="flex flex-col gap-4 px-32 " action="" method="POST">
                {% csrf_token %}

                <div class="sticky top-0 right-0">
                    {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
                </div>

                <div class="bg-slate-50 outline-none hover:outline-emerald-200 flex items-center gap-4 group" plaveholder="username">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-people ml-4" viewBox="0 0 16 16">
                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                      </svg>
                  </div>
                    <input type="text" name="username" placeholder="Enter your username" class="bg-slate-50 outline-none p-3 w-full">
                </div>
                <div  class="bg-slate-50 outline-none hover:outline-emerald-200 flex items-center gap-4 group" >
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-key ml-4" viewBox="0 0 16 16">
                            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg>
                      </div>
                        <input type="password" name="password" placeholder="Enter your password" class="bg-slate-50 outline-none p-3 w-full">
                        <div class="border-l-2 border-emerald-100 p-2 group-hover:border-emerald-200">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye-slash mr-4 " viewBox="0 0 16 16">
                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                              </svg>
                        </div>
                </div>
                <button class="p-2 w-64 text-xl text-white font-bold bg-emerald-700 hover:bg-emerald-800 mt-5 self-center"  type="submit">login</button>
            </form>
            <span class="text-sm text-slate-500">If not registered please click <a class="text-emerald-700 underline font-bold" href=" {% url "users-register" %} ">here</a> </span>
        </div>
        <div id='bg-js' class="parent-element md:flex-1 w-full h-full flex items-center justify-center">
            <div class="text-center">
              <h1 class='text-7xl text-white text-center font-bold'>CodESec Tool</h1>
              <p class="text-emerald-300 text-4xl">
                  The best solution for code threats and vulnerability.
              </p>
            </div>
        </div>
    </div>

    {% endif %}
    
</body>
    {% endblock content %}